@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@font-face {
    font-family: Sassoon;
    src: url('../font/Sassoon Primary Regular/Sassoon-Williams - SassoonPrimaryRg.ttf');
}

* {
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Sassoon, Helvetica, sans-serif;
    color: #555566;
    width: 100%;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

a {
    vertical-align: middle;
    display: table-cell;
}

p {
    font-size: 1.1rem;
    color: #888899;
}

i {
    font-size: 1.4rem;
    color: #DF8B0D;
}

hr {
    width: 70px;
    height: 3px;
    background: #DF8B0D;
    border: none;
    margin-bottom: 2rem;
}

h1 {
   font-size: 2.1rem;
}

h3 {
   font-size: 1.4rem; 
}

a {
    text-decoration: none;
}

@keyframes bounce {
    
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s 3;
  }

button {
    margin: auto;
    border: 2px solid #DF8B0D;
    background: #DF8B0D;
    color: white;
    border-radius: 50px;
    font-family: Sassoon, Helvetica, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 10px 35px;
    font-weight: bold;
    line-height: 30px;
    
}

button:hover {
    background-color: white;
    transition-duration: 0.4s;
    color: #555566;
}


/*Start of landing and nav*/

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	width: 100%;
    background-image: url("../images/landing2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-weight: 600;
    position: absolute;
    top: 0;
    background: transparent;
}

.logo {
    margin: 20px 0 0 30px;
}

.logo img {
    width: 40px;
    height: 40px;
}

nav {
    margin-right: 20px;
    padding: 10px;
    margin-left: auto;
    display: flex;
    justify-content:center;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-weight: 300;
    align-content: center;  
}

.sidebar a {
    visibility: visible;
}

.toggle {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.45s ease-out 0;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
    transition-duration: 0.2s;
    visibility: hidden;
}

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -300px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    transition-duration: 0.2s;
    width: 15rem;
    padding: 1.5em;
    background: white; 
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center
}

.sidebar li a {
    color: #888899;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 25px;
    cursor: pointer;
    text-decoration: none;
    line-height: 220%;
    display: flex;
    justify-content: center
}

.sidebar a:hover {
    color: #DF8B0D;
}

#slide:checked + .container .sidebar {
    left: 0px;
    transition-duration: 0.2s;
}

#slide:checked + .container .toggle {
    left: 350px;
    transition-duration: 0.2s;
    position: fixed;
    color: #DF8B0D;

}

#slide {
    display: none; 
}

.hamburger .line{
    width: 25px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(17px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(3px) rotate(45deg);
    background: orange
}

#hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
    background: orange
}

.active {
    text-decoration: underline;
    text-decoration-color:#DF8B0D;
}

nav a:hover {
  color: #DF8B0D;
}

.title {
    min-height: 30vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin: auto;
    color: #fff;
    padding: 0;
    word-wrap: break-word;
}

.title h1 {
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
}

.title h2 {
    font-size: 2rem;
    font-style: italic;
    color:#D3D3D3;
    font-weight: 200;
    margin-top: 0
}

.title hr {
    width: 40%;
    height: 3px;
    background: #DF8B0D;
    border: none;
}



.title button:hover {
    background: #DF8B0D;
    cursor: pointer;
}

.down {
    position: absolute;
    bottom: 0;
    margin: auto;
    background-image: url("../images/down.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0
}

/*End of landing and nav*/

/*Start of welcome*/

.welcome-content h1 {
    color: #444;
}

.welcome-container {
    max-width: 100%;
    min-height: 100vh;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 100px;
    
}

.welcome-container h3 {
    color: #888899;
    margin: 0;
}

.welcome-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    word-wrap: break-word;
    padding-bottom: 100px;
    color: #888899;
}

.philosiphy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    width: 100%;
    flex-wrap: wrap;
}

.philosiphy-row {
    display: flex;
    flex-direction: row;
}

.reverse {
    flex-direction: row-reverse;
}

#rachel-image {
    background-image: url("../images/rachel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-text {
    padding-bottom:50px;
}

.welcome-right button {
    border: 2px solid #DF8B0D;
    background: #DF8B0D;
    color: white;
    border-radius: 160px;
    margin: 0;
    font-weight: bold;
}

.welcome-right button:hover {
    background: white;
    color: gray;
}

.welcome-left {
    min-height: 400px;
    width: 50%;
    float: left;
}

.takeAction {
    background-image: url(../images/gallery/Rachel_Learning_34Edit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.support {
    background-image: url(../images/gallery/Rachel_Learning_58Edited.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.welcome-about {
    background-image: url(../images/rachel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 50%;
    float: left;
}

.welcome-right {
    width: 50%;
    float: right;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 70px 50px;
    align-content: center;
}


/*End of welcome*/



/*Start of programmes on offer and about */

.circle {
    border-radius: 50%;
    border: 1px solid #DF8B0D;
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.about-container {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:#DF8B0D;
    position: relative;
    color: #fff;
}
.about-container hr {
    background-color: white;
}

.aboutText-container {
    width: 100%;
    min-height: 340px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.about-body {
    width: 100%;
    max-width: 1150px;
    min-height: 200px;
}

.subjectContainer {
    width: 100%;
    text-align: center;
    padding-top: 70px;
}

.subject-body {
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    height: auto;
    margin: auto;
    padding-top: 50px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px   7px rgba(0, 0, 0, 0.02);
    position: relative;
    top: -180;
    background: #fff;
}

.subject-content {
    padding: 0 40px 0 40px;
    box-sizing: border-box;
}

.subject-area {
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.subject {
    width: 30%;
    min-height: 300px;
    margin: 1%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #444;
    flex-wrap: wrap;
    word-wrap: break-word;
    box-sizing: border-box;
}

/*End of programmes on offer and about */



/*Start of room*/

.a {
    background-color: #520E24;
    background-image: url("../images/room/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.b {
    background-color: #520E24;
    background-image: url("../images/room/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.c {
    background-color: #520E24;
    background-image: url("../images/room/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.d {
    background-image: url("../images/room/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.e {
    background-image: url("../images/room/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.f {
    background-image: url("../images/room/6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.room {
    width: 100%;
    margin: auto;
    max-width: 1250px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #E6ECF8;
    padding-top: 50px;
    padding-bottom: 70px;
}

.room-title {
    width: 80%;
    text-align: center;
    min-height: 120px;
}

.room-body {
    min-width: 77%;
    max-width: 1200px;
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.room button {
    margin-top: 50px;
}

.item {
    width: 30%;
    display: inline-block;
    margin: 1%;
    height: 350px;
    border-radius: 12px;
}


/*End of room*/


/*start of pricing*/

.price-container {
    width: 100%;
    min-height: 700px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

.container {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 1200px;
    width: 100%;
}
     
.border {
    border-right: 1px solid #E6ECF8;
    border-left: 1px solid #E6ECF8;
}
ul {
    list-style: none;
    margin-top: 0;

}

.panel {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

.panel img:hover {
  -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.panel img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
    margin-top: 20px;
}

.pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px   7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
}

.pricing-plan:last-child {
    border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #888899;
    font-weight: 600;
    
}

.pricing-features {
    color: #888899;
    margin: 0px 0 25px;
}
      
.pricing-plan p {
  text-align: left;
  margin-top: 50px;
  text-transform: none;
   font-weight: 600;
}

.pricing-features-item {
    border-top: 1px solid #e1f1ff;
    text-align: justify;
    text-transform: none;
    padding-bottom: 8px;
    
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #DF8B0D;
    display: block;
    font-weight: 700;
}

.background {
  position: relative;
  width: 100%;
    padding-top: 20px;
}

.background hr {
    background: #fff;
}

.background::after {
  content: '';
  background: #DF8B0D;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/*End of pricng*/


/*start of reviews*/


.testimonial {
    justify-content: center;
    align-items: center;
    text-align: center; 
    border-top: 1px solid #E6ECF8;
    min-height: 700px;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.reviewContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.testimonial h1 {
    margin-top: 50px;
}

.snip {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #9e9e9e;
    margin: 35px 7px 10px;
    min-height: 370px;
    max-width: 310px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid #DF8B0D;
  }
  
  .snip *,
  .snip *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  
  .snip figcaption {
    padding: 13% 10% 12%;
  }
  
  .snip figcaption:before {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        color: #DF8B0D;
        content: "\f10e";
        font-family: 'FontAwesome';
       font-size: 1.5rem;
        font-style: normal;
        left: 50%;
        line-height: 60px;
        position: absolute;
        top: -30px;
        width: 60px;
  }
  
  .snip h3 {
        color: #9e9e9e;
        font-weight: bold;
        line-height: 24px;
        margin: 10px 0 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 20px;
  }
  
  .snip h4 {
    font-weight: 400;
    margin: 0;
    opacity: 0.5;
  }
  
  .snip blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
  }

/*End of reviews*/


/*Start of social*/

.social {
    width: 100%;
    min-height: 340px;
    background: #DF8B0D;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    box-sizing: border-box;
    color: white;
}

.social-icons {
    width: 200px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
}

.social i  {
    color: white;
   font-size: 2.5rem;
}
/*end of social*/





/*Start of contact*/

.contact {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.contact-info {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #fff;
    background-color:#192229;
}

.contact-row-circle {
    border-radius: 50%;
    border: 1px solid #DF8B0D;
    width: 80px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.overlay-content h3 {
    color: #DF8B0D;
    margin-bottom: 0;
    padding: 0;
}

.contactMap {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-overlay {
    width: 100%;
    max-width: 1150px;
    min-height: 400px;
    margin: auto;
    background: white;
    position: relative;
    top: -150;
    border-radius: 12px;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px   7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 40px 4px rgba(35, 31, 32, 0.07);
    
}

.contact-items {
    width: 33%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    padding: 50px;
    word-wrap: break-word; 
}

.contact-items-content {
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

.overlay-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-body {
    width: 100%;
    max-width: 1150px;
    min-height: 600px;
    position: relative;
    top: -100;
    background: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px   7px rgba(0, 0, 0, 0.02);
    border-radius: 12px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

/*End of contact*/


/*start of footer*/

footer {
    background: #192229;
    width: 100%;
    min-height: 250px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.toTop {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    background-image: url("../images/down.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    z-index: 1;
    transform: rotate(180deg);
    margin: 0 20px 20px;
    cursor: pointer;
}

footer i {
    font-size: 1.5rem;
}

.copyright h5 {
    margin-bottom: 0;
}
.copyright {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #192229;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

/*end of footer*/


/*Form styling*/


label {
    font-weight: 400;
    font-size: 1.1rem;
    color: rgba(41, 51, 71, 0.65);
    display: block;
    text-align: left;
    margin-top: 20px
}


input, textarea, select, submit {
    font-family: Sassoon, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    
    
}
input {
      border: 1px solid #E0E0E0;
      color: #888899;
      box-shadow: none;
      font-weight: 300;
      width: 100%;
      padding: 15px;
      display: block;
      border-radius: 10px;
      line-height: 30px;

}
input:focus { 
    outline: none !important;
    border-color: #DF8B0D;
    box-shadow: 0 0 10px #DF8B0D;
}
textarea:focus { 
    outline: none !important;
    border-color: #DF8B0D;
    box-shadow: 0 0 10px #DF8B0D;
}

textarea {
    width: 100%;
    border: 1px solid #E0E0E0;
    box-shadow: none;
    font-weight: 300;
    padding: 15px;
    color: #888899;
    border-radius: 10px;
    box-sizing: border-box;
}
input[type="submit"] {
    border-radius: 50px;
    background-color: transparent;
    border-color: #DF8B0D;
    color: #DF8B0D;
    height: 50px;
    border-width: 2px;
    max-width: 160px;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    font-size: 1.1rem;
    font-family: Sassoon, Helvetica, sans-serif;
}

form {
    width: 50%;
    margin: auto;
    box-sizing: border-box;
}

input[type="submit"]:hover {
  background: #DF8B0D;
  color: #fff;
  cursor: pointer;
}

/*end of form styling*/


/* gallery  */

.grid {
    display: grid;
    grid-template-rows: 
      repeat(13, 450px);
    grid-template-columns: 
      repeat(3, 1fr);
      /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
    grid-gap: 5px;
  }

  .grid > .galleryitem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 

.galleryHeader {
    min-height: 500px;
    background-image: url('../images/landing2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.galleryTitle hr {
    width: 40%;
    height: 5px;
    background: #DF8B0D;
    border: none;
}

.galleryTitle {
    width: 710px;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin: auto;
    color: #fff;
    padding: 0;
    word-wrap: break-word;
}

.galleryTitle h1 {
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
    font-weight: 600;
    word-wrap: break-word;
}

.galleryTitle h2 {
    font-size: 2rem;
    font-style: italic;
    color:#D3D3D3;
    font-weight: 200;
    margin-top: 0
}

.container {
    width: 100%;
}

.footer {
    background: #192229;
    width: 100%;
    min-height: 250px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

/*start of media query -- 800px */
@media only screen and (max-width: 800px) {

    .grid {
        
        grid-template-rows: 
          repeat(20, 450px);
        grid-template-columns: 
          repeat(2, 1fr);
          /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
        grid-gap: 5px;
      }
    
.toggle {
    visibility: visible;
}

.side {
    display: block;
    margin-right: 0; 
}

.logo {
   display: none;
    
}
    
nav a {
    display: none;
}

.title {
    width: 100%;
    padding: 5px;
}

.title h1 {
    font-size: 55px;
}

.galleryTitle {
    width: 100%;
    padding: 5px;
    font-size: 55px;
}

.galleryTitle h1 {
    font-size: 45px;
}

.welcome {
    padding: 0;
}

.welcome-body {
    width: 100%;
    padding: 0;
}

.welcome-content p {
    text-align: justify;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
}
    
.philosiphy p {
    text-align: center;
}

.welcomeSection {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    position: relative;
}

.about-container {
    flex-direction: column;
}

.about-body {
    width: 100%;
    padding: 50px 0 100px 0;
}
    
.border {
   border: none;
}
    
svg {
    width: 100%;
    bottom: 0;      
}
    
.subjectContainer {
    display: flex;
    flex-direction: column;
}
    
.subject-body {
    min-width: 60%;
}

.subject {
    width: 100%;
}

.imagesContainer {
    flex-direction: column;
    min-height: 100%;
}

.image {
    width: 100%;
}

form {
    width:90%;
    padding: 0;
}

.item {
    width: 100%;
}

.contact-items {
    width: 100%;
}

.contact-body {
    width: 90%;
    min-width: 60%;
}

.room-body {
    width: 90%;
    margin-bottom: 50px;
}
.contact-overlay {
    width: 90%;
    min-width: 60%;
}

.subject-body {
    width: 90%;
}

.illustration img {
    width: 100%;
}

.about-body p {
    text-align: justify;
    padding: 25px;
}
    
.columns {
    width: 100%;
}

.reviewContent {
    margin-bottom: 50px;
}
    
.reviewTitle {
    margin-top: 100px;
}
    
.philosiphy-row {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.welcome-left {
    width: 90%;
}

.welcome-right {
    width: 90%;
}
    
.panel {
    width: 90%;
}
ul {
    padding: 0;
}

}



/*mobile media queries*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

html,body {
    font-size: 18px;
}

a {
    padding: 0;
    margin: 0;
}



input, textarea {
    line-height: 40px;
}

a {
    box-sizing: content-box;
}

.landing {
    background-attachment: scroll;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size:  22px;
}

.grid {
        
    grid-template-rows: 
      repeat(39, 450px);
    grid-template-columns: 
      repeat(1, 1fr);
      /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
    grid-gap: 5px;
  }

.logo {
    display: none;
}
.sidenav a {
    font-size: 30px;
}

.sidenav a:hover {
  background: #DF8B0D;
  color: #fff;
}

.sidenav .closebtn {
    font-size: 40px;
}
      
.side i {
   font-size: 25px;
}

nav a {
    display: none;
    box-sizing: content-box;
}

#slide:checked + .container .toggle {
    left: 80%;
 }

nav {
    flex: none;
    padding-top: 15px;
}

.title h1 {
   font-size: 45px;
}

.galleryTitle h1 {
    font-size: 45px;
}

.title h2 {
    font-size: 28px;
}

.title hr {
    margin-bottom: 20px;
    margin-top: 20px;
}
button {
    padding: 0;
    width: 150px;
    height: 50px;
}
.social i {
    font-size: 38px;
}

.welcome-body {
    width: 100%;
}

.welcome-body p {
    text-align: justify;
}

.welcome-content {
    padding-bottom: 0;
}
       
.philosiphy p {
    text-align: center;
}

.about-container {
    flex-direction: column;
}

.border {
   border: none;
}

.subjectContainer {
    display: flex;
    flex-direction: column;
}

.subject {
    padding-bottom: 50px;
}

.imagesContainer {
    flex-direction: column;
    min-height: 100%;
}

form {
    width:90%;
    padding: 0;
}

.contact-items {
    width: 100%;
}

.contact-body {
    width: 90%;
    min-width: 60%;
}
.pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 60%;
    
}
.pricing-plan h3 {
    font-size: 26px;
}

figure.snip h3 {
   
    margin-bottom: 35px;
}

.pricing-table {
    flex-direction: column;
    width: 90%;
}
      
.pricing-plan:last-child {
border-right: none;
}

.room-body {
    width: 90%;
    margin-bottom: 50px;
}

.contact-overlay {
    width: 90%;
    min-width: 60%;
}

.subject-body {
    width: 90%;
}

.illustration img {
    width: 100%;
}

.about-body p {
    text-align: justify;
    padding: 25px;
}

.columns {
    width: 100%;
}
.reviewContent {
    flex-direction: column;

}

.philosiphy-row {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.welcome-left {
    width: 90%;
}

.welcome-right {
    width: 90%;
    padding: 0;
}
      
.welcome-right button {
    font-size: 17px;
    display: inline-block;
}

.down {
  width: 40px;
  height: 30px;
}

.toTop {
  position: relative;
  margin-top: 20px;
}

ul {
    padding: 0;
}

}

@media screen and (device-aspect-ratio: 40/71) {
    .title h1 {
        font-size: 40px;
    }

    .galleryTitle h1 {
        font-size: 40px;
    }

    
#slide:checked + .container .toggle {
    left: 88%;
 }
}